<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>StardewValley ModManager</title>
    <!-- <link rel="stylesheet" href="index.css"> -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
  </head>
  <body class="text-white">
    <div class="intro text-center p-4 w-4/5 m-auto my-8 bg-gradient-to-bl from-blue-600 to-purple-800 rounded-xl">
      <h1 class="text-3xl">StardewValley ModManager</h1>
      <p>Welcome to the Mod Manager for StardewValley game</p>
    </div>
    <script src="browser.js"></script>

      <!-- <table id="mod-list" class="p-2 m-auto table-auto">
        <template v-for="mod in lstModB" >
        <tr :key="mod.name">
          <td class="p-2 bg-gradient-to-bl from-blue-900 to-purple-900 rounded">{{ mod.meta.displayName }} </td>
          <td class="w-2"></td>
          <td class="p-2 bg-gradient-to-bl from-blue-900 to-purple-900 rounded">{{ mod.meta.vers }} </td>
          <td class="w-2"></td>
          <td class="px-2 flex h-10">
            <a class="text-center rounded h-full w-full p-2 transition-colors" href="#" v-bind:class="[mod.enable ? 'bg-green-500' : 'bg-red-500']" v-on:click="mod.enable = !mod.enable; updateMods(mod)">{{ mod.enable ? "ON" : "OFF" }}</a>
          </td>
        </tr>
        <tr>
          <td class="p-2 "></td>
          <td class="p-2 "></td>
        </tr>
      </template> 
      </table> -->



      <div class="fixed bottom-0 w-full h-16">
        <div class="flex flex-row justify-center h-16">
          <a href="#" >Launch Game</a>
        </div>
      </div>

      <div id="app">
        <div v-for="mod in modList" class="mx-12" :key="mod.name">
          <tree-menu 
          :nodes="mod.childrens" 
          :depth="0"   
          :label="mod.meta.displayName"
          :version="mod.meta.vers"
          :show-ui="true"
          :mod="mod"
          ></tree-menu>
        </div>
      </div>

      <script type="text/x-template" id="tree-menu">
        <div class="tree-menu">
          <div class="label-wrapper" @click="toggleChildren">
            <div  :class="labelClasses" class=" flex justify-between">
              <span class="bg-gradient-to-bl from-blue-900 to-purple-700 p-2 m-2 rounded w-3/5" :style="indent">{{ label }}</span>
              <span class="bg-gradient-to-bl from-blue-900 to-purple-700 p-2 m-2 rounded w-1/5">{{ version }}</span>
              <a v-if="showUi" class="text-center rounded h-full w-1/5 p-2 m-2 transition-colors" href="#" v-bind:class="[mod.enable ? 'bg-green-500' : 'bg-red-500']" v-on:click="mod.enable = !mod.enable; updateMods(mod)">{{ mod.enable ? "ON" : "OFF" }}</a>
              <div v-else class="w-1/5 p-2 m-2"></div>
            </div>
          </div>
          <tree-menu 
            v-if="showChildren"
            v-for="mod in nodes" 
            :nodes="mod.childrens" 
            :label="mod.meta.displayName"
            :depth="depth + 1" 
            :version="mod.meta.vers"
          >
          </tree-menu>
        </div>
      </script>

  </body>
</html>
