<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <style>
      ::-webkit-scrollbar {
        width: 10px;
        display: block;
      }
      ::-webkit-scrollbar-thumb {background: #888; }
      ::-webkit-scrollbar-thumb:hover {background: #555;}
      body{
        overflow-y: scroll;
      }
    </style>
    <title>StardewValley ModManager</title>
    <!-- <link rel="stylesheet" href="index.css"> -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
  </head>

  <body class="text-white" >

    <div style="height:calc(100vh - 4rem)" class="overflow-auto p-8">
      <div class="intro text-center p-4 w-4/5 m-auto mb-8 bg-gradient-to-bl from-blue-600 to-purple-800 rounded-xl">
        <h1 class="text-3xl">StardewValley ModManager</h1>
        <p>Welcome to the Mod Manager for StardewValley game</p>
      </div>
      <div class="bg-gradient-to-bl from-blue-900 to-purple-700 p-2 m-2 rounded justify-center items-center">
        <p class="underline">Add Zip File here :</p>
        <input type="file" id="myFile" name="filename">
        <button href="#" class="bg-gradient-to-bl from-blue-900 to-purple-700 rounded p-2 m-2" onclick="addFile();">Add</button>
      </div>
      <div id="app">
        <div v-for="mod in modList" class="" :key="mod.name">
          <tree-menu 
          :nodes="mod.childrens" 
          :depth="0"   
          :label="mod.meta.displayName"
          :version="mod.meta.vers"
          :show-ui="true"
          :mod="mod"
          ></tree-menu>
        </div>
      </div>
    </div>
      
    <div class="h-full w-full " >
      <div class="grid grid-cols-7 gap-1 w-full">
        <div class="bg-gradient-to-bl from-blue-900 to-purple-700 m-2 rounded flex flex-row justify-center h-full items-center col-span-5">
          <a href="#">Launch Game</a>
        </div>
        <div class="bg-gradient-to-bl from-blue-900 to-purple-700 m-2 rounded flex flex-row justify-center h-full items-center col-span-2">
          <a href="#">Dependencies</a>
        </div>
      </div>
    </div>
    
    <!-- Scripts-->
    <script src="browser.js"></script>
    <script type="text/x-template" id="tree-menu">
      <div class="tree-menu">
        <div class="label-wrapper" >
          <div  :class="labelClasses" class=" flex justify-between">
            <div class="grid grid-cols-7 gap-4 w-full">
              <a class="bg-gradient-to-bl from-blue-900 to-purple-700 p-2 my-2 rounded col-span-4" href="#" @click="toggleChildren" :style="indent" >{{ label }}</a>
              <div class="bg-gradient-to-bl from-blue-900 to-purple-700 p-2 my-2 rounded col-span-2">{{ version }}</div>
              <a v-if="showUi" class="text-center rounded p-2 my-2 transition-colors h-10 col-span-1" href="#" v-bind:class="[mod.enable ? 'bg-green-500' : 'bg-red-500']" v-on:click="mod.enable = !mod.enable; updateMods(mod)">{{ mod.enable ? "ON" : "OFF" }}</a>
              <div v-else class=" p-2 my-2"></div>
            </div>
          </div>
        </div>
        <tree-menu 
          v-if="showChildren"
          v-for="mod in nodes" 
          :nodes="mod.childrens" 
          :label="mod.meta.displayName"
          :depth="depth + 1" 
          :version="mod.meta.vers"
        >
        </tree-menu>
      </div>
    </script>
  </body>
</html>
